@import "variables";

.why-with-us-block-tiles {
    border-radius: .625rem !important;
    border-color: $theme-secondary-color !important;

    .card-body {
        padding: 1rem;
    }

    p {
        &.feature-text {
            //font-size: 1.25rem !important;
            margin-left: .625rem !important;
            color: $black;
            font-family: 'Poppins', sans-serif;
            font-weight: 500 !important;
        }
    }
}
